<h1>{{user.username}} Profile</h1>
<br>

<h6>Name:</h6>
<p>{{user.firstName}} {{user.lastName}}</p>

<h6>E-mail:</h6>
<p>{{user.userEmail}}</p>

<img type="file" name="newPath" src="{{user.image}}" width="20%">