<nav class="userHomeHeaderAddOns" id="header">
    <div class="styleHeaderProfile">
        <a class="defaultNavLabelStyle fourLinkSpacing" href="/closet">My Closet</a>
          <span class="seperators">|</span>
        <a class="defaultNavLabelStyle fourLinkSpacing" href="/myOutfits">My Outfits</a>
          <span class="seperators">|</span>
        <a class="defaultNavLabelStyle fourLinkSpacing" href="">Style Inspo</a>
          <span class="seperators">|</span>
        <a class="defaultNavLabelStyle fourLinkSpacing" href="">My Style Calandar</a>
    </div>

    <div class="styleLoginProfile">
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle addedStyle formButtonStyle coloredLink defaultButtonHover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.firstName}}'s Menu</button>
            <div class="dropdown-menu dropdown-menu-right menuDefaultDropdownStyles">
              <a class="dropdown-item topLinkAddOns dropDownHoverDefault" href="/userHome">{{user.firstName}}'s Home</a>
              <a class="dropdown-item bottomLinkAddOns dropDownHoverDefault" href="/profile">{{user.firstName}}'s Profile</a>
                  <div class="dropdown-divider menuDefaultAddOns"></div>
              <a class="dropdown-item logoutAddOns" href="/">Logout</a>
            </div>
        </div>
    </div>
</nav>

{{!-- <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> --}}

<div class="profilePic">
  <img class="profilePicSize" type="file" name="newPath" src="{{theLoggedinUser.image}}">
</div>

<div class="list-group formStylingDefaultEdit profileFormUpdated">
<h1>User Profile:</h1>
<br>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Username:</h5>
    </div>
    <p class="mb-1">{{theLoggedinUser.username}}</p>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name:</h5>
    </div>
    <p class="mb-1">{{theLoggedinUser.firstName}} {{theLoggedinUser.lastName}}</p>
  </a>

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">E-mail:</h5>
    </div>
    <p class="mb-1">{{theLoggedinUser.userEmail}}</p>
  </a>

      <div id="carasoulButtonCollectionDivBoth">
        <a id="topDetail" class="coloredLink" href="/profile/{{theLoggedinUser._id}}/update"><button type="button" class="btn formButtonStyle defaultButtonHover closetButtonSpace">Edit Profile</button></a>
        <a id="topDetail" class="coloredLink" href="/"><button type="button" class="btn formButtonStyle defaultButtonHover closetButtonSpaceTwo">Delete Account</button></a>
      </div>

</div>