<h1>{{theLoggedinUser.username}} Profile</h1>
<br>

<h6>Name:</h6>
<p>{{theLoggedinUser.firstName}} {{theLoggedinUser.lastName}}</p>

<h6>E-mail:</h6>
<p>{{theLoggedinUser.userEmail}}</p>

<img type="file" name="newPath" src="{{theLoggedinUser.image}}" width="20%">