<nav class="userHomeHeaderAddOns" id="header">
    <div class="styleHeaderProfile">
        <a class="defaultNavLabelStyle fourLinkSpacing" href="/closet">My Closet</a>
          <span class="seperators">|</span>
        <a class="defaultNavLabelStyle fourLinkSpacing" href="/myOutfits">My Outfits</a>
          <span class="seperators">|</span>
        <a class="defaultNavLabelStyle fourLinkSpacing" href="">Style Inspo</a>
          <span class="seperators">|</span>
        <a class="defaultNavLabelStyle fourLinkSpacing" href="">My Style Calandar</a>
    </div>

    <div class="styleLoginProfile">
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle addedStyle formButtonStyle coloredLink defaultButtonHover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.firstName}}'s Menu</button>
            <div class="dropdown-menu dropdown-menu-right menuDefaultDropdownStyles">
              <a class="dropdown-item topLinkAddOns dropDownHoverDefault" href="/userHome">{{user.firstName}}'s Home</a>
              <a class="dropdown-item bottomLinkAddOns dropDownHoverDefault" href="/profile">{{user.firstName}}'s Profile</a>
                  <div class="dropdown-divider menuDefaultAddOns"></div>
              <a class="dropdown-item logoutAddOns" href="/">Logout</a>
            </div>
        </div>
    </div>
</nav>

{{!--  --}}

<div class="backgroundClassCLoset">

<div id="carouselExampleControls" class="carousel slide closetLargeCarousel" data-ride="carousel">
  <div id="toManipulate" class="carousel-inner">
    <div class="forLoopClass carousel-item active">

  <div class="carasoulNavButtons">
    <a id="left_button" class="navArrows carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
  </div>

    <div id="topsDiv">
      <span id="theImageHolder" class="clothingImg"></span>
    </div>
      
    <div id="carasoulButtonCollectionDiv" class="closetFooter">

      <div id="carasoulButtonCollectionDivBoth">
        <button type="button" class="btn formButtonStyle defaultButtonHover closetButtonSpace"><a id="topDetail" class="coloredLink" href="/clothing/{{theSpecifics._id}}">Clothing Details</a></button>
        <button type="button" class="btn formButtonStyle defaultButtonHover closetButtonSpaceTwo"><a id="topEdit" class="coloredLink" href="/clothing/{{theClothing._id}}/update">Edit Clothing</a></button>
      </div>

      <div id="carasoulButtonCollectionDivBoth">
        <a id="topDetail" class="coloredLink" href="/clothing"><button type="button" class="btn formButtonStyle defaultButtonHover closetButtonSpace">Add More Clothing</button></a>
        <a id="topDetail" class="coloredLink" href="/createOutfit"><button type="button" class="btn formButtonStyle defaultButtonHover closetButtonSpaceTwo">Create New Outfit</button></a>
      </div>

      <div class="form-group closetAddDate">
          <label class="outfitAddDateLabel" for="exampleInputPassword1">Never lose track of when you wear what! Tag this item to your "Style" Calendar now.</label>
          <input class="outfitAddDateInput" type="date" class="form-control" id="exampleInputPassword1" name="lastWorn" value="{{theClothing.lastWorn}}">
      </div>

  </div>
  
  <a id="right_button" class="navArrows carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
  </div>
</div>

</div>


